@media only screen and (max-width: 500px) {
    p.m-plus {
      font-size: 1rem;
    }
}

@media only screen and (max-width: 500px) {
    h2.galada-regular {
      font-size: 1.5rem;
    }
}

@media only screen and (max-width: 500px) {
    p.teko {
      font-size: 1.5rem;
    }
}

@media only screen and (max-width: 500px) {
    h5.m-plus {
      font-size: 1rem;
    }
}


@media only screen and (min-width: 500px) {
    i.logos {
      font-size: 4em;
      padding-right: 2em;
    }
}

@media only screen and (min-width: 500px) {
    i.rrss {
      font-size: 3em;
      padding-right: 2em;
    }
}

.fa-bootstrap{
    padding: 0 !important;
}

.fa-github{
    padding: 0 !important;
}


body{
    margin: 0;
    padding: 0;
}

.foto_perfil{
    height: 200px;
    border-radius: 50%;
}

.navbar{
    z-index: 100;
    width: 100%;
    background-image: url(../img/fonfo_navbar.jpg);
    min-height: 300px;
    background-size: cover;
}

.main{
    background: #283048;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #859398, #283048);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #859398, #283048); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

li:hover{
    background-color: #ECD4CF;
    border-radius: 50%;
}

.acercademi{
    margin: 1vw 10vw 1vw 10vw;
    padding: 0 0 3vw 0;
}

.acerca{
    background: #EFEFBB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #D4D3DD, #EFEFBB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #D4D3DD, #EFEFBB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.estudios{
    background: #EFEFBB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #D4D3DD, #EFEFBB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #D4D3DD, #EFEFBB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.trabajos{
    background: #EFEFBB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #D4D3DD, #EFEFBB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #D4D3DD, #EFEFBB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.portafolio{
    background: #EFEFBB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #D4D3DD, #EFEFBB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #D4D3DD, #EFEFBB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card-img-top{
    height: 300px;
}

.rrss{
    color: #859398;
}

.kanit-regular {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: x-large;
    text-shadow: 1px 1px 2px black;
}
  
.kanit-semibold {
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: xx-large;
    text-shadow: 3px 3px 10px black;
}

.galada-regular {
    background: -webkit-linear-gradient(#1D5AA8, #000000);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    font-family: "Galada", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    margin: 0;
    padding: 2vw;
}

.m-plus {
  font-family: "M PLUS 1 Code", monospace;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
  font-size: 1.7rem;
}

.teko {
  background: -webkit-linear-gradient(#1D5AA8, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: bold;
  font-size: 3rem;
}
  
  