body{
    padding: 0;
    margin: 0;
}

.main{
    padding-top: 2rem;
}

.navbar{
    z-index: 100;
    width: 100%;
}

.foto_perfil{
    height: 300px;
    border-radius: 50%;
}

.acercademi{
    margin: 2rem 8rem 2rem 8rem;
}

.col{
    margin: 2rem 8rem 2rem 8rem;
}
